# Default ignored files
/shelf/
/workspace.xml
# Folders to ignore
/.idea/*
/__pycache__/*
# Data folder
/Experiments/Training_Pipelines/RPS_v1_data
/build
/dist


# Files to ignore
*.pyc
.directory
tes*



